@using Movie_Ticket_Booking.Utitlies
@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "Cinema";
}
<div class="my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="m-0"><i class="bi bi-film"></i> Cinema</h2>
        <a asp-area="Admin" asp-controller="Cinema" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add New Cinema
        </a>
    </div>
    <div class="table-responsive scrollbar">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Logo</th>
                    <th class="text-end" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cinema in Model)
                {
                    <tr>
                        <td>@cinema.Name</td>
                        <td>@cinema.Description</td>
                        <td>
                            <img src="@cinema.Logo" height="80" style="object-fit: cover; border-radius: 10px;" />
                        </td>
                        <td class="text-end">
                            @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                            {
                                <a href="/Admin/Movie/Edit/@cinema.Id" class="btn btn-link p-0" data-bs-toggle="tooltip" title="Edit">
                                    <span class="text-500 fas fa-edit"></span>
                                </a>
                                <a href="/Admin/Movie/Delete/@cinema.Id" class="btn btn-link p-0 ms-2" data-bs-toggle="tooltip" title="Delete">
                                    <span class="text-500 fas fa-trash-alt"></span>
                                </a>
                            }
                            else
                            {
                                <span class="text-muted">No Actions!</span>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>