@using Movie_Ticket_Booking.Utitlies
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cinema Box | Book Your Tickets</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="~/https://fonts.gstatic.com">
    <link href="~/https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="~/assets/css/user.css" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        .cinema-box-logo {
            color: #E50914 !important;
            / font-size: 1.5rem !important;
            font-weight: 900 !important;
        }
    </style>

</head>

<body>

    <main class="main" id="top">
        <div class="container-fluid" data-layout="container">

            <nav class="navbar navbar-expand-lg navbar-light navbar-glass navbar-top">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand me-1 me-sm-3" asp-area="" asp-controller="Movies" asp-action="Index">
                    <div class="d-flex align-items-center">
                        <img class="me-2" src="~/assets/img/icons/spot-illustrations/falcon.png" alt="" width="60" />
                        <span class="font-sans-serif cinema-box-logo">Cinema Box</span>
                    </div>
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="~/Customer/Movies/Index"><i class="bi bi-house-door me-1"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Customer/Movies/List"><i class="bi bi-film me-1"></i> Movies & Shows</a>
                        </li>
                    </ul>

                    @if (User.IsInRole($"{SD.SUPER_ADMIN_ROLE}") || User.IsInRole($"{SD.ADMIN_ROLE}") || User.IsInRole($"{SD.EMPLOYEE_ROLE}"))
                    {

                        <div class="btn-group me-3" role="group" aria-label="Admin and Customer Buttons">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                            class="btn btn-sm btn-info text-white">
                                <i class="bi bi-person-workspace me-1"></i> Admin Dashboard
                            </a>
                            <a asp-area="Customer" asp-controller="Movies" asp-action="Index"
                            class="btn btn-sm btn-outline-info">
                                <i class="bi bi-people-fill me-1"></i> Customer UI
                            </a>
                        </div>
                    }

                </div>

                <div class="ms-auto d-flex align-items-center gap-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Cart" asp-action="Index" class="btn btn-success btn-sm me-2">
                            <i class="bi bi-cart4 me-1"></i> Cart
                        </a>

                        <a asp-area="Identity" asp-controller="Profile" asp-action="Index" class="btn btn-primary btn-sm me-2">
                            <i class="bi bi-person-circle me-1"></i> Profile
                        </a>

                        <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post" class="mb-0 d-inline">
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-box-arrow-right me-1"></i> Logout
                            </button>
                        </form>
                    }

                    else
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="Register" class="btn btn-outline-success btn-sm">
                            <i class="bi bi-person-plus-fill me-1"></i> Register
                        </a>
                        <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-box-arrow-in-right me-1"></i> Login
                        </a>
                    }
                </div>
            </nav>


            <div class="content">
                @RenderBody()

                @if (TempData["success-notification"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show position-fixed bottom-0 end-0 m-3 shadow" role="alert" style="z-index: 9999;">
                        <i class="bi bi-check-circle-fill me-2"></i>@TempData["success-notification"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }

                @if (TempData["error-notification"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show position-fixed bottom-0 end-0 m-3 shadow" role="alert" style="z-index: 9999;">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>@TempData["error-notification"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }

                <footer class="footer">
                    <div class="row g-0 justify-content-between fs-10 mt-4 mb-3">
                        <div class="col-12 col-sm-auto text-center">
                            <p class="mb-0 text-600">Cinema Box © 2025</p>
                        </div>
                        <div class="col-12 col-sm-auto text-center">
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </main>
    <script src="~/vendors/popper/popper.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>